* {
    border: none;
    border-radius: 0;
    min-height: 0;
    font-family: "JetBrainsMono Nerd Font", "Nerd Font";
    font-weight: bold;
    font-size: 16px;
    padding: 0;
}

window#waybar {
    background: #181818;
    color: #E0E0E0;
    border-bottom: 4px solid #5F97F6;
}

#clock, #pulseaudio, #tray, #battery, #backlight, #network {
    margin: 8px 8px 8px 0px;
    padding: 2px 8px 2px 8px;
    background-color: transparent;
}

#workspaces {
    margin: 8px 0px 8px 16px;
}

#workspaces button {
    padding: 2px 8px;
    margin: 0px 4px;
    color: #9575CD; /* Secondary accent for inactive workspaces */
    background-color: transparent;
}

#workspaces button.focused {
    color: #181818; /* Dark text for contrast */
    background-color: #5F97F6; /* Primary accent for focus */
    padding: 2px 12px; /* A bit more padding to make it pop */
}

#workspaces button.urgent {
    color: #181818; /* Dark text for contrast */
    background-color: #E06D76; /* Urgent accent */
}

#battery.warning, #battery.critical, #battery.urgent {
    background-color: #E06D76;
    color: #181818;
}
