window {
    font-family: "JetBrainsMono Nerd Font", "Nerd Font";
    background-color: #181818;
    border: 4px solid #9575CD;
    border-radius: 0;
}

#input {
    margin: 5px;
    border: none;
    padding: 8px;
    background-color: #181818;
    color: #E0E0E0;
}

#inner-box {
    margin: 5px;
    border: none;
    background-color: #181818;
}

#outer-box {
    margin: 5px;
    border: none;
    background-color: #181818;
}

#scroll {
    margin: 0px;
    border: none;
}

#text {
    margin: 5px;
    border: none;
    color: #E0E0E0;
}

#entry:selected {
    background-color: #5F97F6;
    color: #181818;
}

#prompt {
    color: #5F97F6;
}
